<div class="aligncenter">
  <% if (config.author){ %>
  Copyright &copy; 2013-<%= new Date().getFullYear() %> <%= config.author %>. All Rights Reserved
  <% } else { %>
  Copyright &copy; 2013-<%= new Date().getFullYear() %> <%= config.title %>. All Rights Reserved
  <% } %>
</div>
<div class="clearfix"></div>